table.marksheet
{
    border-collapse: collapse;
    width: 80%;
	margin: 0 auto;
}

table.marksheet,
table.marksheet th,
table.marksheet td
{
    border: 1px solid black;
}

table.marksheet th,
table.marksheet td
{
    padding: 8px;
	text-align: center;
}

table.marksheet tr:nth-child(even)
{
    background-color: #f2f2f2;
}

table.marksheet th
{
	background-color: green;
    color: white;
    font-weight: bold;
}