.card
{
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	box-shadow: 0px 10px 25px 2px silver;
	text-align: center;
	border-radius: 12px;
}
.person
{
	width: 100px;
	height: 100px;
	border-radius:50%;
	border: 4px solid green;
	display: block;
	margin: 0 auto 10px;
}
.name
{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}
.title
{
	font-size: 12px;
	color: black;
	margin-top: 5px;
}
.contact
{
	font-size: 12px;
	margin-top: 10px;
}